#headerspacing{
  height: 615px; /*full size screen */
  text-align: center;
  color: white;
  height: 10px;
}

.textspacingheader{
  padding-top: 250px;
  margin: 0px;
}

html{
  scroll-behavior: smooth;
}

#background{
  background-color: #f3efef;
}
/* font formatting */

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  margin-bottom: -15px;
}

/* card Pantone font*/
h4 {
  font-family: Helvetica, sans-serif;
  /* font-size: 40px; */
  font-size: 2.5vw;
  margin-bottom: -10px;
  margin-top: 8%;
}

/* subheader font */
h3{
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	/* font-size: 24px; */
  font-size: 1.5vw;
	color: black; 
  margin-left: 2px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #575757;
  margin-bottom: -30px;
  margin-left: 5px;
}

h5 {
  font-family: Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: -17px;
}


h6 {
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
}

#trademark{
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  margin-left: 4px;
}

#pagemargin{
  margin-left: 30px;
  margin-right: 90px;
  margin-top: 20px;
  margin-bottom: 52px;
}


#gallery{
  /* background-color: green; */
  flex-grow: 10.5;
  border-left: 1px solid lightgrey;
  padding-left: 20px;
  margin: 30px;
  margin-left: 30px;
}

#selectorbar{
  flex-grow: 3;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#greenbutton{
  width: 35px;
  aspect-ratio: 1;
  margin-top: 70px;
  margin-left: -12px;
}

#yellowbutton{
  width: 35px;
  aspect-ratio: 1;
  margin-top: 10px;
  margin-left: -12px;
}

#redbutton{
  width: 35px;
  aspect-ratio: 1;
  margin-top: 10px;
  margin-left: -12px;
}

#bluebutton{
  width: 35px;
  aspect-ratio: 1;
  margin-top: 10px;
  margin-left: -12px;
}

#verticalsplit{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: flex-start;

}

#header{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#textheader{
  flex-grow: 5;
  margin-left: 20px;
}

#counter{
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: 30px;

}


#counterresponsive{
  display: none;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: 30px;

}



#plusicon{
  width: 40px;
  margin-top: 55px;
  margin-left: -8px;
}


#cardgallery{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 15px;
  /* justify-content: space-around; */
  justify-content: space-between;
  align-content: space-between;
}

#colorgrid{
  display: flex;
  flex-grow: 5;
  flex-wrap: wrap;
  justify-content: space-between; /*changed from flex-start */
  align-items: flex-start; 
  max-width: 700px;
  border-right: 1px solid lightgrey;
  padding-right: 30px;
  /* padding-right: 15px; */

}

.gradient2 {
	background: linear-gradient(-60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, rgb(255, 191, 0));
	background-size: 500% 500%;
	animation: gradient 5s ease infinite;
	/* height: 100%; */
}
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

#gradient3 {
	background: linear-gradient(-60deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, rgb(255, 191, 0));
	background-size: 500% 500%;
	animation: gradient 5s ease infinite;
	/* height: 100%; */
}

 @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

.colorbox{
  display: flex;
  width: 18%; /*changed from width: 100% */
  aspect-ratio: 1;
  box-sizing: border-box;
  /* margin: 8px; */
  margin: 1%;
  margin-left: 1%;
  margin-right: 1%;
	/* flex: 1; */
  min-width: 60px;
  max-width: 124px;
}

#grid{
  /* background-color: lightblue; */
  flex-grow: 7;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: auto auto auto auto auto;
  grid-column-start: 2;
  grid-gap: 15px;
  align-content: center;
  margin-right: 20px; 

}

#grid > div {
  padding: 10px;
  aspect-ratio: 1;
}

#black{
  background-color: #1c1c1d;
}

#forest{
  background-color: #628742;
}

#olive{
  background-color: #869C60;
}

#sage{
  background-color: #B7BF96;
}

#laurel{
  background-color: #E4DEAE;
}
#navy{
  background-color: #262F38;
}
#cerulean{
  background-color: #3a4d65;
}
#ocean{
  background-color: #7CAAC4;
}

#lupine{
  background-color: #6598d3;
}

#skyblue{
  background-color: #c0dff6;
}

#ember{
  background-color: #ca2501;
}

#bluebell{
  background-color: #AD97BA;
}

#golden{
  background-color: #FFC121;
}

#sunshine{
  background-color: #FFCD4B;
}

#amarillo{
  background-color: #FFDC72;
}

#rose{
  background-color: #681729;
}

#poppy{
  background-color: #CD4428;
}

#blush{
  background-color: #D6686B;
}

#flora{
  background-color: #D195A3;
}

#carrot{
  background-color: #d14d25;
}


#largecard{
  /* flex-grow: 6; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* margin-left: auto;
  margin-right: auto; */
	align-content: flex-start;
  width: 100%;
  min-width: 300px;
  /* max-width: 465px; */
  max-width: 400px;
  align-items: flex-end;
  margin-right: 15px;
  margin-left: 30px;
}

.fuck{
  opacity: 0%;
}

.card_image{
  max-width: 100%;
  object-fit: contain;
  height: auto;
  /* width:100%;
  max-width: 400px;
  max-height:360px; */
  /* height: 360px; */
}

.card_image_responsive{
  width:100%;
  max-width: 400px;
  max-height:360px;
  height: 100%;
}

#painting{
  width: 100%;
  /* min-width: 400px;
  min-height: 360px; */
  /* max-width: 400px;
  max-height: 360px; */
}

#largecard_text{
  background-color: #fff;
  width: 100%;
  /* height: 30%; */
  max-width: 400px;
  max-height: 155.7px;
  padding-bottom: 7%;

  max-width: 100%;
  object-fit: contain;
  height: auto;

}

#colordescription{
  margin-bottom: 5px;
  font-size: 3vh;
  margin-top: 15px;
}

#hexcode{
  /* margin-top: 15px; */
  margin-top: 3%;
  margin-bottom: 3%;
  color: grey;
}

.leftmargintext{
  margin-left: 30px;
}

/* hover formatting */
.colorbox:hover{
  cursor: pointer;
  transition: all .25s ease-in-out; 
  transform: scale(1.1); 
}

.navbutton:hover{
  cursor:pointer;
  transition: all .25s ease-in-out; 
  transform: scale(1.1); 
}


/* #tabletresponsive:hover{
  display: inline-block;
  animation: flip;
  animation-duration: 2s;
} */

/* @media only screen and (max-width: 1034px -- breaks from 5 columns to 4) {
  .colorbox{
    width: 50%;
  }
  
  #colorgrid{
    width: 50%
  }
}
*/


@media only screen and (max-width: 1024px){
  .colorbox{
    width: 3vh;
    margin: .3vh;
    flex-grow: 1;
  }

  #colorgrid{
    justify-content: flex-start;
  }

}


/* @media only screen and (max-width: 1024px){
  .colorbox{
    width: 100%;
    margin: .3vh;
    flex-grow: 1.5;
    min-width: 78.48px;
    max-width: 89px;
  }

  #colorgrid{
    justify-content: flex-start;
  }

}

@media only screen and (max-width: 1019px){
  .colorbox{
    width: 18%;
    margin: .3vh;
    min-width: 78.4;
    max-width: 86px;
  }

  #colorgrid{
    justify-content: flex-start;
  }

} */


@media only screen and (max-width: 901px){
  #verticalsplit{
    display: block;
  }

  /* .verticalline{
    display: none;
  } */

  #tabletresponsive{
    display:flex;
    flex-direction: row-reverse;
  }

  #counterresponsive{
    display: block;
    margin-left: 0px;
    margin-top: 0px;
  }

  #gallery{
    border-left: 0px solid white;
    border-top: 1px solid lightgrey;
    padding-top: 30px;
    padding-left: 0px;
    margin-left: 30px;
    margin-top: 10px;
  }

  #colorgrid{
    border-right: 0px solid white;
    border-top: 1px solid lightgrey;
    margin-top: 30px;
    padding-top: 30px;
    padding-right: 0px;
  }


  .colorbox{
    width: 18%; /*changed from width: 100% */
    margin: 1%;
    margin-left: 1%;
    margin-right: 1%;
    min-width: 60px;
    max-width: 124px;
  }

  #selectorbar{
    flex-direction: row;
    margin-left: 45px;
  }

  #greenbutton{
    margin-top: 0px;
  }

  #redbutton{
    margin-top: 0px;
  }

  #yellowbutton{
    margin-top: 0px;
  } 

  #bluebutton{
    margin-top: 0px;
  }

  #plusicon{
    margin-top: 0px
  }

  #cardgallery{
    flex-direction: column-reverse;
  }

  /* .verticalline2{
    display: none;
  } */

  #counter{
    display: none;
  }

  #largecard{
    margin-left: 0px;
  }

  #colordescription{
    font-size: 30px;
  }

  h4 {
    font-size: 40px;
  }

  h3{
    font-size: 24px;
  }

}


@media only screen and (max-width: 750px){
  #verticalsplit{
    display: block;
  }

  /* .verticalline{
    display: none;
  } */

  #gallery{
    border-left: 0px solid white;
    border-top: 1px solid lightgrey;
    padding-top: 30px;
    padding-left: 0px;
    margin-left: 0px;
  }

  .colorbox{
    width: 18%; /*changed from width: 100% */
    margin: 1%;
    margin-left: 1%;
    margin-right: 1%;
    min-width: 40px;
  }

  #colorgrid{
    border-right: 0px solid white;
    border-top: 1px solid lightgrey;
    margin-top: 30px;
    padding-top: 30px;
    padding-right: 0px;
    width: 100%
  }

  #selectorbar{
    flex-direction: row;
    margin-left: 15px;
    margin-top: 15px;
  }

  #greenbutton{
    margin-top: 0px;
  }

  #redbutton{
    margin-top: 0px;
  }

  #yellowbutton{
    margin-top: 0px;
  } 

  #bluebutton{
    margin-top: 0px;
  }

  #cardgallery{
    flex-direction: column-reverse;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* .verticalline2{
    display: none;
  } */

  #counter{
    display: none;
  }

  #largecard{
    margin-left: 0px;
  }

  #plusicon{
    margin-top: 0px;
  }

  #textheader{
    margin-left: 10px;
  }

  #pagemargin{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #colordescription{
    font-size: 30px;
  }

  h4 {
    font-size: 40px;
  }

  h3{
    font-size: 24px;
  }

}
